@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html { font-size: 10px; }

body { 
  box-sizing: border-box;
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://wallpapercave.com/wp/wp6350571.jpg);
  background-color: #61dbfb;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  display: grid;
  grid-template-areas:
    'title title'
    'editor preview';
  place-items: center;
  gap: 40px;
  padding: 30px 0;
}

#title {
  grid-area: title;
  color: #61dbfb;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 5rem;
  text-shadow: 3px 3px #333;
}

#editor,
#preview {
  width: 600px;
  height: 700px;
  padding: 24px 14px 14px 14px;
  border: none;
  border-radius: 3px;
}

#editor {
  grid-area: editor;
  background: #eee;
  box-shadow: 5px 5px #448484;
}

#preview {
  grid-area: preview;
  background: #3b444b;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.39rem;
  box-shadow: 5px 5px #448484;
  overflow-y: auto;
}

code {
    /* background: black; */
  color:white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }

  pre {
    background: black;
    padding: 5px 0 5px 5px;
  }
  
   table {
    border-collapse: collapse;
  }

   td,
  th {
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
  }


a { color: #D6EFA3; }

li { margin-left: 3rem; }

blockquote {
  margin-left: 2rem;
  padding-left: 0.6rem;
  border-left: 0.4rem solid grey;
}

@media only screen and (max-width: 1000px) {
  .App {
    grid-template-areas:
      'title'
      'editor'
      'preview';
  }

  #editor,
  #preview {
    width: 90vw;
    height: 400px;
  }
}

img {
  display: block;
  margin: auto;
  padding: 1em;
}